@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  padding: 0;
  font-family: 'PT Sans Narrow', sans-serif;
}

.heading {
  margin: 0;
  background-color: #42647f;
  text-align: center;
  color: white;
  padding: 1% 0;
}

.tablecont {
  width: 60%;
  margin: auto;
  text-align: center;
  font-size: 0.7em;
}

.table {
  margin: 2% auto;
  background-color: #6e7b8b;
}

.thead {
  color: white;
  text-decoration: none;
}

td {
  background-color: #bcd2ee;
  padding: 10px;
}

.btn {
  text-decoration: none;
  color: white;
  background-color: purple;
  padding: 1%;
  border-radius: 5px;
}

.btn-2 {
  text-decoration: none;
  color: white;
  background-color: #6f7285;
  padding: 5%;
  border-radius: 5px;
  border: 1px white solid;
}

.container {
  background-color: #7aa9dd;
  width: 30%;
  margin: 1% auto;
  padding: 1%;
  color: white;
  font-size: 1.2em;
}

.input {
  width: 95%;
  height: 30px;
  padding-left: 15px;
  font-size: 1.1em;
}

.btn-3 {
  background-color: purple;
  padding: 1% 2%;
  border: 1px white solid;
  color: white;
}

.showcont {
  background-color: #ff8c00;
  width: 30%;
  margin: 1% auto;
  color: white;
  font-size: 1.3em;
  padding: 1%;
  text-align: center;
  border: 2px black solid;
  border-radius: 5px;
}

.home {
  background-color: green;
  padding: 1%;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 120%;
}
